<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Meals on Wheels | Home of St. Barnabas Trust</title>

    <!-- Favicon Here -->

    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>

    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">

<style>
  .navbar-brand img{
    height: 50px;
    width: auto;
  }

  .navbar{
    padding-top: 20px;
    padding-bottom: 20px;
    }

    .jumbotron{
      background: url(img/9.jpg);
      background-position:center center;
      background-repeat: no-repeat;
      background-size: cover;
      color:#000000;
      height: 300px;
    }
  }
</style>


  </head>
<body>



 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="home"><img src="logo.png"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about-us">About Us</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="meals-on-wheels">Meals on Wheels</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="contact-us">Contact</a>
                </li>
            </ul>
          </div>
        </div>
        </nav>

        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Meals on Wheels</h1>
            <p class="lead"></p>
          </div>
        </div>


<a id="button"><i class="fas fa-sort-up"></i></a>

<section>
  <div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="about-us">

        <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Meals on Wheels</li>
      </ol>
    </nav>

    <p>We deliver our meals hot on a plate ready to eat.
Our meals are made fresh each day on site using where possible local produce and suppliers.
Our kitchen has a grading certificate of Excellent “A”
(Licence number RBM/12455). </p>

<p>
Anyone can buy our meals, whether you have difficulty shopping or preparing your own food.
</p>
<p>
Our home cooked meals are good, honest fare just like your mum used to make; wholesome and nutritious, no added salt, low fat content and high on taste.
</p>
<p>
Meals are delivered between 12 noon and 1pm each day, Monday to Saturday in the Dunedin area. We also deliver to Fairfield and Mosgiel weekdays. </p>
</p>

<img class="meal" src="img/10.jpeg" alt="" width="100%" height="auto">

<div class="pricing">
  <h2>Pricing</h2>

  <p>
    <h5><b>Standard meal with or without the dessert is $9.90</b></h5>

    This is served on a plate consisting of at least 100g meat, 2 potato and 2 vegie) can be in tinfoil dish if preferred)
  </p>
  <hr>

  <p>
    <h5><b>Our Large size meal is $10.90 (with or without the dessert).</b></h5>

    This meal includes 3 potatoes, extra meat and the 2 vegies.
  </p>
  <hr>

  <p>
    <h5><b>We also sell</b></h5>

    Homemade baking 2 pieces, $2.50
    <br>
    Fruit 2 pieces $2.50
    <br>
    Homemade Soup (comes in a coffee to go cup) $3.00
    <br>
    Sandwiches, 2 club boxed $3.50
    <br>
    Frozen Desserts $2.00
  These must be accompanied by a hot meal
  <br>
  Homemade Savouries, these are made fresh each day at .75 each, $9.00 per dozen
  </p>
<hr>
  <h5><b>Frozen Meals</b></h5>

  <p>We offer for sale frozen meals at $8.50 each. Frozen meals come in tin foil dish and do not include the dessert. They can be ordered by email or over the phone.
  These meals are made up each day and are subject to availability. A minimum of 4 frozen meals must be ordered at any one time if not getting a hot meal. (Delivery charge may apply). </p>

  <p>We do sell frozen meals on site, at 12 Ings Ave between 1.30 and 4.30 weekdays. Eftpos is available.
  All our prices including GST. </p>

<hr>

  <h5><b>Bulk Orders</b></h5>
  <p>20 frozen meals $158.00 saving of $12.00</p>

</div>


<!-- Testimonial Slider from Baamboo Studio modified for The Mentor Group (http://www.mentor-group.com/clients--testimonials.html) -->


<!-- TestimonialS Slider - Free Weebly Widget by Baamboo Studio - Style 2 -->
			<div class="testimonial_slider_2">
				<input type="radio" name="slider_2" id="slide_2_1" checked />
				<input type="radio" name="slider_2" id="slide_2_2" />
				<input type="radio" name="slider_2" id="slide_2_3" />
				<input type="radio" name="slider_2" id="slide_2_4" />
        <h2>Testimonials</h2>

        <div class="boo_inner clearfix">
        					<div class="slide_content">
        						<div class="testimonial_2">
        							<div class="content_2">
        								<p>"Having tried other suppliers, I have reached a conclusion that yours is the best. Very friendly"</p>	</div>
        							<div class="author_2">
        								<h3>- Anonymous</h3>
        							</div>
        						</div>
        					</div>
        					<div class="slide_content">
        						<div class="testimonial_2">
        							<div class="content_2">
        								<p>"The food is great and mum is really enjoying them as well as the volunteers who deliver them, wonderfully nice and kind people."</p>
        							</div>
        							<div class="author_2">
        								<h3>- Ailsa </h3>
        							</div>
        						</div>
        					</div>
        					<div class="slide_content">
        						<div class="testimonial_2">
        							<div class="content_2">
        								<p>"Thanks very much to you and your wonderful team for the fantastic job you all do. It is very much appreciated"</p></div>
        							<div class="author_2">
        								<h3>- Yvonne</h3>

        							</div>
        						</div>
        					</div>
        					<div class="slide_content">
        						<div class="testimonial_2">
        							<div class="content_2">
        								<p>"You provide a wonderful service very affordably. Thank you so much."</p>
                      </div>
        							<div class="author_2">
        								<h3>- Angela</h3>

        							</div>
        						</div>
        					</div>
        				</div>
        				<div id="controls">
        					<label for="slide_2_1"></label>
        					<label for="slide_2_2"></label>
        					<label for="slide_2_3"></label>
        					<label for="slide_2_4"></label>
        				</div>
        			</div>

    </div>
    </div>

      <div class="col-md-4 cards">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Coordinators Hours</h5>
            <p class="card-text"><i class="fas fa-clock"></i> Weekdays: 8:30am - 3:30pm</p>
            <p class="card-text"><i class="fas fa-clock"></i> Saturday: 8:00am - 11:30am</p>
            <p class="card-text">All cancelations and daily orders need to be in by 9.30am.</p>
          </div>


        </div>
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">After Frozen Meals?</h5>
            <p>These can be picked up on site at 12 Ings Ave</p>
            <p class="card-text"><i class="fas fa-clock"></i>  Pickup between 1.30pm and 4.30pm weekdays. </p>
            <p class="card-text"><i class="far fa-credit-card"></i>  Eftpos Available</p>
          </div>


        </div>
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Bulk Orders</h5>
            <p>Bulk orders are also available.</p>
            <p class="card-text"><i class="fas fa-utensils"></i> 20 frozen meals $158.00 saving of $12.00 </p>

          </div>


        </div>
        </div>
      </div>



      </div>
    </section>


    <!-- ///////////////////////////////////// FOOTER /////////////////////////// -->

    <footer class="footer">
         <div class="lower-footer">
           <div class="container">
             <div class="row panel-1">
               <div class="col-md-12">
                 <div class="col-md-12 social-icons">
                   <a href="#"><i class="fab fa-facebook"></i></a>
                   <a href="#"><i class="fab fa-twitter-square"></i></a>
                   <a href="#"><i class="fab fa-instagram"></i></a>
                 </div>
               </div>
             </div>
             <div class="row panel-2">
                <div class="col-md-9">
                  <p>© 2019 Home of St Barnabas. ALL RIGHTS RESERVED.</p>
                </div>
                <div class="col-md-3 col-sm-12 levitate">
                   <a href="#"><i class="fab fa-skyatlas"></i> Website </a>
                </div>
              </div> <!-- End of Row -->

            </div> <!-- End of Container -->
           </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>
  </div>


   </footer>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scroll-down.js"></script>
    <script src="js/owl.carousel.min.js">

    </script>
    <script src="js/index.js" type="text/javascript">


    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
    <script  src="js/index.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
  pagenum = 1;
  function AutoRotate() {
     var myele = null;
     var allElements = document.getElementsByTagName('label');
     for (var i = 0, n = allElements.length; i < n; i++) {
       var myfor = allElements[i].getAttribute('for');
       if ((myfor !== null) && (myfor == ('slide_2_' + pagenum))) {
         allElements[i].click();
         break;
       }
     }
     if (pagenum == 4) {
       pagenum = 1;
     } else {
       pagenum++;
     }
  }
  setInterval(AutoRotate, 5000);
});
    </script>

    <script type="text/javascript">
    var btn = $('#button');

    $(window).scroll(function() {
    if ($(window).scrollTop() > 300) {
    btn.addClass('show');
    } else {
    btn.removeClass('show');
    }
    });

    btn.on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({scrollTop:0}, '300');
    });

    </script>



  </body>
</html>
